<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate" />
        </ion-buttons>

        <ion-title>
            <!--<h1>{{ 'core.login.connecttomoodle' | translate }}</h1>-->
            <h1>Connect to SAVIO</h1>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="openSettings()" [ariaLabel]="'core.settings.appsettings' | translate">
                <ion-icon slot="icon-only" name="fas-gear" aria-hidden="true" />
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <div class="list-item-limited-width">
        <div class="ion-text-center ion-padding ion-margin-bottom core-login-site-logo" [class.hidden]="hasSites || enteredSiteUrl">
            <img src="assets/img/logo-savio-azul.png" class="avatar-full login-logo" role="presentation"
                [alt]="'core.login.logoof' | translate: { $a: appName }">
        </div>

        <ion-label>
            <h1 class="ion-text-wrap">Para comenzar a utilizar SavioApp, primero debe autenticarse son su correo institucional.</h1>
        </ion-label>

        <br/>

        <!--TODO: use constants for url/texts-->
        <ion-item button (click)="connect('https://savio.utb.edu.co/', $event)"
            [attr.aria-label]="'core.login.connect' | translate" [detail]="true" class="core-login-entered-site">
            <ion-thumbnail slot="start" aria-hidden="true">
                <ion-icon name="fas-pen" aria-hidden="true" />
            </ion-thumbnail>
            <ion-label>
                <h2>Pulse aquí para continuar.</h2>
            </ion-label>
        </ion-item>

    </div>
</ion-content>

<!-- Template site selector. -->
<ng-template #sitelisting let-site="site">
    <ion-item button (click)="connect(site.url, $event)" [ngClass]="site.className" [attr.aria-label]="site.name" [detail]="true">
        <ion-thumbnail *ngIf="siteFinderSettings.displayimage" slot="start">
            <img [url]="site.imageurl" *ngIf="site.imageurl" core-external-content onError="this.src='assets/icon/icon.png'" alt=""
                role="presentation">
            <img src="assets/icon/icon.png" *ngIf="!site.imageurl" class="core-login-default-icon" alt="" role="presentation">
        </ion-thumbnail>
        <ion-label>
            <p *ngIf="site.title" class="item-heading ion-text-wrap">{{site.title}}</p>
            <p *ngIf="displaySiteUrl(site.url)">{{site.noProtocolUrl}}</p>
            <p *ngIf="site.location">{{site.location}}</p>
        </ion-label>
    </ion-item>
</ng-template>
